<h1>Technology</h1>
<p>Llamado desde mi technology</p>
<h1>Hola Mundo</h1>
<p>fecha actual <%= Time.now%></p>
<p>fecha formateada <%= Time.now.strftime("%Y-%m-%d %H:%M")%></p>
<p>fecha formateada <%= Time.now.strftime("%d-%m-%Y")%></p>
